{% extends 'base.html.twig' %}

{% block title %}Modifier un contrat{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier le contrat</h1>

        <div class="card p-4">
            {{ include('contrat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="mt-3">
            <a href="{{ path('app_contrat_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>

        {{ include('contrat/_delete_form.html.twig') }}
    </div>
{% endblock %}
